<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head::head('Добавление нового производителя')}"></head>
<body>
    <div class="container">
        <div th:replace="~{fragments/header::header}"></div>
        <br/>
        <br/>
        <br/>
        <br/>
        <form th:action="@{/admin/producer/add}"  method="post" th:object="${newProducer}">
            <div class="form-group form-row align-items-center col-12">
                <div class="col-3"></div>
                <div class="col-2">
                    <label for="name"
                           class="col-form-label">Название завода-изготовителя
                    </label>
                </div>
                <div class="col-4">
                    <input id="name"
                           type="text"
                           th:field="*{name}"
                           th:class="${errors.containsKey('name')
                           ? 'form-control is-invalid'
                           : 'form-control'}"
                           placeholder="Введите название изготовителя"/>
                    <ul th:if="${errors.containsKey('name')}">
                        <li th:each="error : ${errors.get('name')}" th:text="${error}" style="color: darkred"></li>
                    </ul>
                </div>
                <div class="col-3"></div>
            </div>

            <div class="form-group form-row align-items-center col-12">
                <div class="col-3"></div>
                <div class="col-2">
                    <label for="surname"
                           class="col-form-label">ФИО представителя
                    </label>
                </div>
                <div class="col-4">
                    <input id="surname"
                           type="text"
                           th:field="*{surname}"
                           th:class="${errors.containsKey('surname')
                           ? 'form-control is-invalid'
                           : 'form-control'}"
                           placeholder="Введите ФИО (в формате И.О. Фамилия)"/>
                    <ul th:if="${errors.containsKey('surname')}">
                        <li th:each="error : ${errors.get('surname')}" th:text="${error}" style="color: darkred"></li>
                    </ul>
                </div>
                <div class="col-3"></div>
            </div>

            <div class="form-group form-row align-items-center col-12">
                <div class="col-3"></div>
                <div class="col-2">
                    <label for="surname"
                           class="col-form-label">Должность представителя
                    </label>
                </div>
                <div class="col-4">
                    <input id="position"
                           type="text"
                           th:field="*{position}"
                           th:class="${errors.containsKey('position')
                           ? 'form-control is-invalid'
                           : 'form-control'}"
                           placeholder="Введите должность представителя"/>
                    <ul th:if="${errors.containsKey('position')}">
                        <li th:each="error : ${errors.get('position')}" th:text="${error}" style="color: darkred"></li>
                    </ul>
                </div>
                <div class="col-3"></div>
            </div>

            <div class="form-group row align-items-center align col-12">
                <div class="col-4"></div>
                <button type="submit" class="btn btn-outline-success col-4">Добавить</button>
                <div class="col-4"></div>
            </div>
        </form>

        <div th:replace="~{fragments/js-connect::js-connect}"></div>
    </div>
</body>
