<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head::head('Производители (архив)')}"></head>
<body>
<div class="container">
    <div th:replace="~{fragments/header::header}"></div>
    <br/>
    <br/>
    <br/>
    <br/>
    <table class="table table-bordered text-center table-hover" align="center">
        <thead class="thead-dark">
        <tr>
            <th>№ п/п</th>
            <th>Название производителя</th>
            <th>ФИО представителя</th>
            <th>Должность представителя</th>
            <th>Восстановить</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody class="align-middle">
        <tr th:each="producer : ${items}">
            <td th:text="${producerStat.count}"></td>
            <td th:text="${producer.name}"></td>
            <td th:text="${producer.surname}"></td>
            <td th:text="${producer.position}"></td>
            <td>
                <a th:href="@{/admin/producer/return/{id}(id = ${producer.id})}">
                    <i class="fa fa-reply-all" aria-hidden="true"></i>
                </a>
            </td>
            <td>
                <a th:href="@{/admin/producer/finish-delete/{id}(id = ${producer.id})}">
                    <i style="color: red" class="fa fa-times" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <br/>
    <br/>
    <nav>
        <ul class="pagination">
            <li th:class="${page == 0 ? 'page-item disabled' : 'page-item'}">
                <a th:href="@{/admin/producer/start(page=${page - 1})}" class="page-link">&laquo;</a>
            </li>
            <li th:each="p : ${pagesRange}" th:class="${p == page ? 'page-item active' : 'page-item'}">
                <a th:href="@{/admin/producer/start(page=${p})}" class="page-link" th:text="${p + 1}"></a>
            </li>
            <li th:class="${page == pages - 1 ? 'page-item disabled' : 'page-item'}">
                <a th:href="@{/admin/producer/start(page=${page + 1})}" class="page-link">&raquo;</a>
            </li>
        </ul>
    </nav>
    <div th:replace="~{fragments/js-connect::js-connect}"></div>
</div>
</body>
