<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head::head('Протоколы блоков пьезоэлектрических')}"></head>
<body>
<div class="container">
    <div th:replace="~{fragments/header::header}"></div>
    <br/>
    <br/>
    <br/>
    <br/>
    <table class="table table-bordered text-center table-hover" align="center">
        <thead class="thead-light">
        <tr>
            <th>№</th>
            <th>№ протокола</th>
            <th>Дата создания</th>
            <th>Количество заготовок</th>
            <th>Передали</th>
            <th>Примечание</th>
            <th>Просмотр</th>
            <th>Редактировать</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody class="align-middle">
        <tr th:each="protocol : ${items}">
            <td th:text="${protocolStat.count} + ${page} * ${pageValue}"></td>
            <td th:text="${protocol.number}"></td>
            <td th:text="${#dates.format(protocol.date, 'dd.MM.yyyy')}"></td>
            <td>
               <a tabindex="0"
                   th:attr="data-protocol-id=${protocol.id}"
                   class="btn btn-outline-success js-protocol-popover"
                   role="button" data-toggle="popover">
                   <span th:text="${#lists.size(protocol.plates)}" class="badge badge-light"></span>
               </a>
            </td>
            <td th:text ="${protocol.producer.name}"></td>
            <td th:text="${protocol.note}"></td>
            <td>
                <a th:href="@{/protocol/view/{id}(id = ${protocol.id})}">
                    <i style="color: darkgreen" class="fa fa-list-alt" aria-hidden="true"></i></i>
                </a>
            </td>
            <td>
                <a th:if="${protocol.user.username} == ${currentUsername}"
                    th:href="@{/protocol/edit/{id}(id = ${protocol.id})}">
                    <i style="color: black" class="fa fa-pencil-alt" aria-hidden="true"></i>
                </a>
            </td>
            <td>
                <a th:if="${protocol.user.username} == ${currentUsername}" data-toggle="modal" href="#modal">
                    <i style="color: red" class="fa fa-times" aria-hidden="true"></i>
                </a>
            </td>
<!--Модальное окно для удаления-->
            <div class="modal fade" id="modal" data-backdrop="static" tabindex="-1"
                 role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Удаление протокола</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Вы уверены, что хотите удалить протокол? Его восстановление будет невозможно!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <a type="button" class="btn btn-danger" th:href="@{/protocol/delete/{id}(id = ${protocol.id})}">
                                Удалить
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </tr>
        </tbody>
    </table>
    <br/>
    <a th:href="@{/protocol/add}" class="btn btn-outline-success" role="button">Создать новый протокол</a>
    <br/>
    <br/>
    <nav>
        <ul class="pagination">
            <li th:class="${page == 0 ? 'page-item disabled' : 'page-item'}">
                <a th:href="@{/protocol/start(page=${page - 1})}" class="page-link">&laquo;</a>
            </li>
            <li th:each="p : ${pagesRange}" th:class="${p == page ? 'page-item active' : 'page-item'}">
                <a th:href="@{/protocol/start(page=${p})}" class="page-link" th:text="${p + 1}"></a>
            </li>
            <li th:class="${page == pages - 1 ? 'page-item disabled' : 'page-item'}">
                <a th:href="@{/protocol/start(page=${page + 1})}" class="page-link">&raquo;</a>
            </li>
        </ul>
    </nav>
    <div th:replace="~{fragments/js-connect::js-connect}"></div>

    <script th:inline="javascript">
        const protocolPlatesData = [[${plates_protocol}]];
        const protocolPlates = {};

        for (let protocolId in protocolPlatesData) {
            const list = $("<ol></ol>");

            protocolPlatesData[protocolId].forEach(function (plate) {

                const element = $("<li></li>");
                element.text(plate).appendTo(list);
            });

            protocolPlates[protocolId] = list;
        }

        $(function () {
            $(".js-protocol-popover").popover({
                html: true,
                title: "Заготовки",
                trigger: "click hover",
                content: function () {
                    const protocolId = $(this).attr("data-protocol-id");

                    return protocolPlates[protocolId];
                }
            });
        })
    </script>
</div>
</body>
