<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head::head('Изолятор брака')}"></head>
<body>
    <div class="container">
        <div th:replace="~{fragments/header::header}"></div>
        <br/>
        <br/>
        <br/>
        <br/>
        <table class="table table-bordered text-center table-hover" align="center">
            <thead class="thead-light">
            <tr>
                <th>№</th>
                <th>№ заготовки</th>
                <th>Длина, мм</th>
                <th>Ширина, мм</th>
                <th>Толщина, мм</th>
                <th>Параметр 1</th>
                <th>Параметр 2 </th>
                <th>Наличие трещин</th>
                <th>Тип заготовки</th>
                <th>Примечание</th>
                <th>Восстановить</th>
            </tr>
            </thead>
            <tbody class="align-middle">
            <tr th:each="plate : ${items}">
                <td th:text="${plateStat.count} + ${page} * ${pageValue}"></td>
                <td th:text="${plate.number}"></td>
                <td th:text="${plate.length}"></td>
                <td th:text="${plate.width}"></td>
                <td th:text="${plate.height}"></td>
                <td th:text="${plate.paramOne}"></td>
                <td th:text="${plate.paramTwo}"></td>
                <td th:text="${plate.hasCrack}"></td>
                <td th:text="${plate.type.name}"></td>
                <td th:text="${plate.note}"></td>
                <td>
                    <a th:href="@{/plate/return/{plateId}/(plateId = ${plate.id})}">
                        <i class="fa fa-reply-all" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <br/>
        <br/>
        <br/>
        <nav>
            <ul class="pagination">
                <li th:class="${page == 0 ? 'page-item disabled' : 'page-item'}">
                    <a th:href="@{/plate/crash?page={page}(page=${page - 1})}" class="page-link">&laquo;</a>
                </li>
                <li th:each="p : ${pagesRange}" th:class="${p == page ? 'page-item active' : 'page-item'}">
                    <a th:href="@{/plate/crash?page={page}(page=${p})}" class="page-link" th:text="${p + 1}"></a>
                </li>
                <li th:class="${page == pages - 1 ? 'page-item disabled' : 'page-item'}">
                    <a th:href="@{/plate/crash?page={page}(page=${page + 1})}" class="page-link">&raquo;</a>
                </li>
            </ul>
        </nav>
        <div th:replace="~{fragments/js-connect::js-connect}"></div>
    </div>
</body>
